body{
    font-family: Arial, sans-serif;
}

.card{
    border-radius:15px;
}

button{
    transition:0.3s;
}

button:hover{
    transform:scale(1.03);
}
.delete-btn{

    background: red;

    color: white;

    border: none;

    padding: 10px 20px;

    border-radius: 5px;

    cursor: pointer;

}